.address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 48px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__label {
    color: #9393a3;
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
  }

  &__link {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #191919;
    text-decoration-color: transparent;
    text-underline-offset: 4px;

    @include hover(text-decoration-color, #1b2129);
  }
}
