@use'../utils/mixins.scss' as *;

.button {
  display: block;
  padding: 15px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  background-color: $button-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  border: none;

  @include hover(background-color, #1b2129)
}
