@use '../utils/mixins.scss' as *;

.devices {
  padding-bottom: 96px;
  &__items {
    @include grid;

    padding-bottom: 40px;
  }

  &__item {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 16px;
  }

  &__img {
    min-height: 130px;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    grid-column: 1 / -1;
  }
}
