.links {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0 48px;

  &__link {
    font-family: Manrope, sans-serif;
    font-style: Bold;
    font-size: 22px;
    line-height: 22px;
    color: $text-color;
    text-decoration-color: transparent;
    text-underline-offset: 4px;

    @include hover(text-decoration-color, $text-color);
  }
}
