@use '../utils/mixins.scss' as *;

.phone {
  text-decoration: none;
  &__label {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #1b2129;
    white-space: nowrap;
    position: absolute;
    transform: translateX(calc(-100% - 8px));
  }

  &:not(:hover) &__label {
    @include visually-hidden;
  }
}
