@use '../utils/mixins.scss' as *;

.phone {
  text-decoration: none;
  &__label {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #1b2129;
    white-space: nowrap;
    position: absolute;
    transform: translateX(calc(-100% - 8px));

    @include for-tablet {
      transform: translateX(calc(-100% - 8px)) translateY(7px);
    }
  }

  &:not(:hover) &__label {
    @include visually-hidden;
  }

  &__img {
    width: 24px;
    height: 24px;

    @include for-tablet {
      width: 32px;
      height: 32px;
    }
  }
}
