.title {
  color: #1b2129;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 48px;
  font-weight: 700;

  &--head {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 0;
  }
}
