@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin for-dekstop() {
  @media (min-width: 1020px) {
    @content;
  }
}

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  justify-content: center;
  column-gap: 20px;

  @include for-dekstop {
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;
  }
}
